@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chivo:wght@300;400;700&display=swap');

html {
    background-color: wheat;
}

body {
    font-family: 'Chivo', Roboto, Arial, sans-serif;
    font-size: 14px;
    background-color: antiquewhite;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Balsamiq Sans', cursive;
}

footer {
    background-color: navajowhite;
}

main {
    min-height: calc(100vh - 292px); /* to eliminate the background below footer when the page dont have enough content to fill the page*/
}

a.alternative_decoreation{
    color: inherit;
    text-decoration: none;
}

a.alternative_decoreation:hover,
a.alternative_decoreation:active {
    font-weight: bold;
    text-decoration: none;
}

.navbar_toggler {
    position: absolute;
    right: 10px;
    top: 10px;
}

.logo {
    height: 100px;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.rating_icon {
    font-size: 2rem;
    color: #a1795a;
}

.hidden {
    visibility:hidden;
}

.card img {
    object-fit: cover;
}