{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-12 bg-danger">
            <h2>You're user role dont allow permission to view this page.</h2>
        </div>
    </div>

{% endblock %}