{% extends 'base.html.twig' %}

{% block content %}
    <div class="row py-4">
        {% if session.user_role == "ROLE_ADMIN" %}
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
                <h2 class="mb-3 pb-3 border-bottom border-secondary">New User Panel</h2>
                <div class="col-12 border-bottom border-secondary">
                    <form method="POST" action="/?page=admin&action=submit_new_user">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" maxlength="50" id="username" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="userpass">Password:</label>
                            <input type="password" maxlength="100" id="userpass" name="userpass" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="userrole">User Role</label>
                            <select class="custom-select" id="userrole" name="userrole">
                                <option value="ROLE_STAFF"
                                        {% if user.getUserRole() == 'ROLE_STAFF' %}selected{% endif %}>
                                    ROLE_STAFF
                                </option>
                                <option value="ROLE_SHOP" {% if user.getUserRole() == 'ROLE_SHOP' %}selected{% endif %}>
                                    ROLE_SHOP
                                </option>
                                <option value="ROLE_ADMIN"
                                        {% if user.getUserRole() == 'ROLE_ADMIN' %}selected{% endif %}>
                                    ROLE_ADMIN
                                </option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit">Submit <i class="fas fa-user-plus"></i></button>
                        </div>
                    </form>

                </div>
                <div class="col my-4 text-center">
                    <p>Return to <a class="alternative_decoreation" href="/?page=admin">admin page</a></p>
                </div>
            </div>
        {% else %}
            <p>You cannot view this page</p>
        {% endif %}
    </div>
{% endblock %}