{% extends 'base.html.twig' %}

{% block content %}
    {% if session.user_role == "ROLE_ADMIN" and user.getId() != session.user_id %}
        {% if user %}
            Changing password for User {{ user.getUsername() }}
            <form method="POST" action="/?page=admin&action=submit_password">
                <input type="hidden" id="userid" name="userid" value="{{ user.getId() }}">
                <label for="userpassword">Enter new password</label>
                <input type="password" maxlength="100" id="userpass" name="userpass">

                <button type="submit" class="btn btn-success">Change password</button>
            </form>
        {% else %}
            <p>No user found.</p>
        {% endif %}
        <p><a href="/?page=admin">return to admin page</a></p>
    {% else %}
        <p>You cannot view this page</p>
    {% endif %}
{% endblock %}