{% extends 'base.html.twig' %}

{% block content %}
    {% if session.user_role == "ROLE_ADMIN" %}
        <form method="POST" action="/?page=admin&action=update_user">
            <input type="hidden" id="userid" name="userid" value="{{ user.getId() }}">
            <label for="username">Username:</label>
            <input type="text" maxlength="50" id="username" name="username" value="{{ user.getUsername() }}">
            <br>
            <label for="userrole">User Role</label>
            <select class="custom-select" id="userrole" name="userrole">
                <option value="ROLE_STAFF" {% if user.getUserRole() == 'ROLE_STAFF' %}selected{% endif %}>
                    ROLE_STAFF
                </option>
                <option value="ROLE_SHOP" {% if user.getUserRole() == 'ROLE_SHOP' %}selected{% endif %}>
                    ROLE_SHOP
                </option>
                <option value="ROLE_ADMIN" {% if user.getUserRole() == 'ROLE_ADMIN' %}selected{% endif %}>
                    ROLE_ADMIN
                </option>
            </select>
            <p>
                {% if user.getUserRole() == 'ROLE_SHOP' %}
                    <small>warning! changeing user type for shop owner will delete the link to their shop, and erase the paid content</small>
                {% endif %}
            </p>
            <button type="submit">Submit changes</button>
            <a class="btn btn-danger p-0" href="/?page=admin&action=reset_password&userid={{ user.getId() }}">Reset Password</a>
            <a class="btn btn-danger p-0" href="/?page=admin&action=remove_user&userid={{ user.getId() }}">Remove</a>
        </form>
        <p><a href="/?page=admin">return to admin page</a></p>


    {% else %}
        <p>Admins only</p>
    {% endif %}
{% endblock %}