{% extends 'base.html.twig' %}

{% block nav_admin %} active {% endblock %}

{% block content %}
    <div class="row py-4">
        {% if session.user_role == "ROLE_ADMIN" and user.getId() != session.user_id %}
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
                <h2 class="mb-3 pb-3 border-bottom border-secondary">Password reset Panel</h2>
                {% if user %}
                    <div class="col-12 border-bottom border-secondary">
                        <h3>Changing password for User : {{ user.getUsername() }}</h3>
                        <form method="POST" action="/?page=admin&action=submit_password">

                            <input type="hidden" id="userid" name="userid" value="{{ user.getId() }}">
                            <div class="form-group">
                                <label for="userpassword">Enter new password</label>
                                <input type="password" maxlength="100" id="userpass" name="userpass" class="form-control">
                            </div>
                            <div class="text-center">
                            <button type="submit" class="btn btn-success">Change password</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <p>No user found.</p>
                {% endif %}
                <div class="my-4 text-center">
                    <p>Return to <a class="alternative_decoreation" href="/?page=admin">admin page</a></p>
                </div>
            </div>
        {% else %}
            <p>You cannot view this page</p>
        {% endif %}
    </div>
{% endblock %}