<!DOCTYPE>
<html>
<head>
    <title>Home Page</title>
    
    {# Bootstrap Link #}
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    {# my stylesheet #}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>

{% block content %}
{% endblock %}

<nav>
    <ul>
        <li>
            <a href="index.php?page=home">Home</a>
        </li>
    </ul>
</nav>

{# Bootstrap scripts #}
<script src="/scripts/jquery-3.4.1.slim.min.js"></script>
<script src="/scripts/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>

</body>
</html>