<!DOCTYPE>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{% block content %}
{% endblock %}

<nav>
    <ul>
        <li>
            <a href="index.php?page=home">Home</a>
        </li>
    </ul>
</nav>

</body>
</html>