<!DOCTYPE>
<html>
<head>
    <title>Home Page</title>

    {# Bootstrap Link #}
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    {# Font Awesome Link #}
    <link href="/css/fontawesome/all.min.css" rel="stylesheet"> <!--load all styles -->

    {# my stylesheet #}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm py-0 px-5">
    <div class="logo">
        <a class="" href="/">
            <img src="img/logo.png" alt="Coffeeshop Review">
        </a>
    </div>
    <div class="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColapseSection"
                aria-controls="navbarColapseSection" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse text-center" id="navbarColapseSection">
        <ul class="navbar-nav ml-0 ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if session.user_role == "ROLE_ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">ADMIN LINK</a>
                </li>
            {% endif %}
            {% if session.user_role == "ROLE_STAFF" %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">STAFF LINK</a>
                </li>
            {% endif %}
            {% if session.user_role == "ROLE_SHOP" %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">SHOP LINK</a>
                </li>
            {% endif %}
        </ul>
        {% if session.user_id == false %}
            <button type="button" class="btn btn-outline-primary mx-lg-2 " data-toggle="modal"
                    data-target="#loginModal">
                Login
            </button>
        {% else %}
            <a href="/?page=logout" class="btn btn-outline-warning mx-lg-2 ">
                Log out
            </a>
        {% endif %}
    </div>
</nav>

<div class="container">

    {% block content %}{% endblock %}

</div>

{% if session.user_id == false %}
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/index.php?page=login">
                        <div class="form-group">
                            <label for="usernameInput">Username</label>
                            <input required pattern="[A-Za-z0-9_-.]{1,60}"
                                   title="Username length cannot exceed 60 characters, usernames have no whitespaces"
                                   class="form-control" id="usernameInput" name="username"
                                   aria-describedby="registrationHelp">
                            <small id="registrationHelp" class="form-text text-muted">If you dont have an account please
                                contact us at registration@coffeeshopreview.ie.</small>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" id="passwordInput" name="password" required>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{# Bootstrap scripts #}
<script src="/scripts/bootstrap/jquery-3.4.1.slim.min.js"></script>
<script src="/scripts/bootstrap/popper.min.js"></script>
<script src="/scripts/bootstrap/bootstrap.min.js"></script>

</body>
</html>
