{% extends 'base.html.twig' %}

{% block content %}

    <div class="row border-bottom border-dark mt-5 pt-4 mb-4 pb-4">
        <div class="col text-center">
            <h1>Welcome to Coffee Shop Review</h1>
            <img src="img/logo.png" alt="Logo" width="200">
            <ol class="list-unstyled mt-5">
                <li>
                    <a class="alternative_decoreation lead" href="/?page=shops">
                        <i class="fas fa-mug-hot"></i>
                        View All Coffeeshops
                        <i class="fas fa-mug-hot"></i>
                    </a>
                </li>
                <li>
                    <a class="alternative_decoreation lead" href="/?page=reviews">
                        <i class="fas fa-mug-hot"></i>
                        View All Reviews
                        <i class="fas fa-mug-hot"></i>
                    </a>
                </li>
            </ol>
        </div>
    </div>





{% endblock %}