{% extends 'base.html.twig' %}

{% block content %}

    {% if session.user_role == 'ROLE_STAFF' %}
        <h1>WRITE NEW REVIEW</h1>
        <form method="post" action="/?page=submit_review">
            <label for="reviewtitle">title</label>
            <input type="text" name="reviewtitle" id="reviewtitle">
            <br>
            <label for="reviewtext">Your Review</label>
            <br>
            <textarea name="reviewtext" id="reviewtext" cols="30" rows="10"></textarea>
            <br>
            <label for="reviewrating">Rating</label>
            <br>
            <input type="range" min="1" max="5" name="reviewrating" id="reviewrating">
            <br>
            <label for="reviewexpense">Expense</label>
            <br>
            <input type="range" min="1" max="5" name="reviewexpense" id="reviewexpense">
            <br>
            <select name="coffeeshopid" id="coffeeshopid">
                {% for cs in coffeeshops %}
                    <option value="{{ cs.getId() }}">{{ cs.getName() }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">PUBLISH</button>
        </form>
    {% else %}
        <p>You cannot view this page</p>
    {% endif %}





{% endblock %}